page-home {

}
.toolbar-background {
  background: #387ef5;
}

.toolbar-title{
    color: white;
}
.back-button{
    color: white;
}

.image {
     height: 15vw; 
     width: 15vw; 
    // border: 2px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 5px gray;
    display: inline-block;
    margin-left: 80px;
    margin-right: 80px;
    
    
} 
.images {
  position: relative;
  display: inline-block;
  float: center;
}

.images h3 {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: -25%;
  left: 0;
}
.wrapper {
    text-align: center;
}

